{% block content %}
    <h1>Profil {{user.username}}</h1>
    {% if user_profile.full_name%}
        <p>Nama: {{ user_profile.full_name }}</p>
    {% endif %}
    <p>NIDN: {{ user_profile.nim_nidn }}</p>
    <p>Username: {{ user_profile.user.username }}</p>
    <p>Role: {{ user_profile.get_role_display }}</p>

    {% if user_profile.alamat %}
        <p>Alamat: {{ user_profile.alamat }}</p>
    {% endif %}

    {% if user_profile.gambar %}
        <img src="{{ user_profile.gambar.url }}" alt="Profil Picture">
    {% endif %}

    <a href="{% url 'edit-mahasiswa' %}">Edit</a>
{% endblock content %}
Hello
