{% block content %}
    <h1>Edit Profil {{user.username}}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="nama">Username</label>
        {{ form.username }}
        <br>
        <label for="nama">Nama Lengkap</label>
        {{ form.full_name }}
        <br>
        <label for="nama">Gambar</label>
        {{ form.gambar }}
        <br>
        <label for="nama">Alamat</label>
        {{ form.alamat }}
        <label for="nama">Ganti Password</label>
        <a href="{% url 'ganti_password' %}">Ganti Password</a>

        <button type="submit">Simpan</button>
    </form>
{% endblock content %}
